*{ /* retire les bordures */
    margin:0px;
    padding:0px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #e8ffff;
}
h2{
    text-align: center;
    padding: 5px;
}
h3{
    margin-left: 4%;
    padding: 10px;
}
.pic{ /* images responsives */
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
.menu{
    padding-top: 1px;
    background-color: #edc988;
    width: 100%;
    height: 40px;
    display: flex;
}
.menu1{
    background-color: #edc988;
    padding-top: 2px;
    text-align: center;
    min-width: 24%;
    max-width: 24%;
    outline: none;
    cursor: pointer;
}
.menu1:hover{
    background-color: white;
}
.ctn{ /* block en ligne */
    display: flex;
    justify-content: space-around;
}
.col{
    text-align: left;
    min-width: 31%;
    max-width: 32%;
}
#col1{
    background-color: #a6f6f1;
    padding: 10px;
    border-radius: 10px;
}
#col2{
    background-color: #41aea9;
    padding: 10px;
    border-radius: 10px;
}
#col3{
    background-color: #008891;
    padding: 10px;
    border-radius: 10px;
}
.night{
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
}
footer{
    background:#edc988;
    bottom:0;
    width:100%;
    padding-top:10px;
    height:40px;
}
#foot{
    margin-left: 20px;
}
@media screen and (max-width: 721px){
    h3{
        text-align: center;
    }
    .ctn{
        display: flex;
        flex-direction:column;
    }
    .col{
        max-width: 100%;
    }
    #col1,#col2,#col3{
        padding: 5px;
        border-radius: 0px;
    }
}